<section class="container container-about">
    <div class="row">
        <div class="col-md-12">
            <h1>About</h1>
        </div>
        <div class="col-sm-12 col-md-6">
            <p>
                Skilled in Object-Oriented Programming Language and Software development tools, 
                especially for unity 3D and C #; exceptional analytical skills.
            </p>
        </div>
        <div class="col-sm-12 col-md-6">
            <p>
               Proficient in Oculus VR Application Development; Solid skillsets involve: ​
               C++/C, C#/.NET, Git, Unity3D, AWS, Spark, CUDA, OpenGL, DirectX3D, etc.
            </p>
        </div>
    </div>
</section>