<section class="container container-instagram">
    <div class="row">
        <div class="col-md-12">
            <h1>Portfolio</h1>
        </div>
        <div class="col-md-12">
           
            <div class="row list-row">
                <div class="col-md-5 row-top">
                  
                  <a href="https://www.youtube.com/watch?v=_Rz22sSVqt0&t=14s&list=PLXkh7XR1GR6o0K0R23J-aTod7nLl5puPl&index=2">
                    <img src="./web-dist/images/VRanesthesia.gif" class="img-fluid" alt="screenshot VRAnesthesia UI">
                  </a>
                </div>
                <div class="col-md-7">
                  <div>
                    <h4 class="h-inline">VR Anesthesia</h4>
                  </div>
                  <p>
                    VR Anesthesia simulates the operating process of Anesthesia, providing students 
                    the immersive learning experience with Oculus Rift supported.
                  </p>
                  <div>
                    <h5>Highlights</h5>
                    <ul>
                      <li>
                        WebAPI for automatic feedback system in VR anesthesia
                      </li>
                      <li>Real-Time Remote Online Instruction</li>
                      <li>Haptics Feedback for Interaction in VR</li>
                    </ul>
                  </div>
                  <span class="link-group space-between">
                    <a target="_blank" href="https://github.com/luke217/VRAnesthesiaDemo">
                      <i class="fa fa-2x fa-github" aria-hidden="true"></i>
                      Checkout the GitHub repo
                    </a>
                  </span>
                </div>
              </div>
              
            <br/>
            
            <div class="row list-row">
              <div class="col-md-5 row-top">
                <a href="https://www.youtube.com/watch?v=ZIMNH7IVzc0">
                <img src="./web-dist/images/Dare2Drive.png" class="img-fluid" alt="screenshot Dare2Drive">
                </a>
              </div>
              <div class="col-md-7">
                <div>
                  <h4 class="h-inline">Dare2Drive</h4>
                </div>
                <p>Dare2Drive is a VR drunk driving simulation game created during MIT Hackathon.</p>
                <div>
                  <h5>Highlights</h5>
                  <ul>
                    <li>Customized VR Interaction to include driving features</li>
                    <li>Extendable Interaction class to include more customized interactions</li>
                    <li>Post-processing for low-poly assets</li>
                  </ul>
                </div>
                <span class="link-group">
                  <a target="_blank" href="https://github.com/luke217/Dare2Drive">
                    <i class="fa fa-2x fa-github" aria-hidden="true"></i>
                    Checkout the GitHub Repo
                  </a>
                </span>
              </div>
            </div>
            
          <br/>

              <div class="row list-row">
                <div class="col-md-5 row-top">
                  <a href="https://www.youtube.com/watch?v=iWtlv2fXyp4&index=2&list=PLXkh7XR1GR6rBCLmnVKLGPdJ6hT0GPwPV">
                  <img src="./web-dist/images/Halo.png" class="img-fluid" alt="screenshot Halo">
                  </a>
                </div>
                <div class="col-md-7">
                  <div>
                    <h4 class="h-inline">Halo: ScarletKnight</h4>
                  </div>
                  <p>Halo: ScarletKnight is a 3d action fighting game inspired by Halo game series.</p>
                  <div>
                    <h5>Highlights</h5>
                    <ul>
                      <li>Animator Controller​ Design for ragdoll​</li>
                      <li>Enermy behavior tree system design</li>
                      <li>Navigation System design for Enermy AI</li>
                    </ul>
                  </div>
                  <span class="link-group">
                    <a target="_blank" href="https://globalgamejam.org/2018/games/haloscarletknight">
                      <i class="fa fa-2x fa-github" aria-hidden="true"></i>
                      Checkout the Demo Page
                    </a>
                  </span>
                </div>
              </div>
              
            <br/>
                

              <div class="row list-row">
                <div class="col-md-5 row-top">
                  <a href="https://www.youtube.com/watch?v=z3gU8Zv2F3Y&t=5s">
                  <img src="./web-dist/images/MathDetective.png" class="img-fluid" alt="screenshot MathsDetective">
                  </a>
                </div>
                <div class="col-md-7">
                  <div>
                    <h4 class="h-inline">Maths Detective</h4>
                  </div>
                  <p>Maths Detective is a 2D RPG style room escape game designed for high school students learning Maths.</p>
                  <div>
                    <h5>Highlights</h5>
                    <ul>
                      <li>Implemented ​2D Navigation system​ for the character.</li>
                      <li>​Implemented the ​task systems​ and ​inventory system​ and their efficient algorithms.</li>
                      <li>Using ​Object pool​ and ​profiler​ to optimize the performance</li>
                    </ul>
                  </div>
                  <span class="link-group">
                    <a target="_blank" href="https://github.com/luke217/Detective-Demo">
                      <i class="fa fa-2x fa-github" aria-hidden="true"></i>
                      Checkout the GitHub repo
                    </a>
                  </span>
                </div>
              </div>
            

        </div>
    </div>
</section>